/* Основные стили */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Стили для заголовка */
h1 {
    text-align: center;
    color: #34b7eb;
}

/* Стили для таблицы */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #333;
}

th {
    background-color: #333;
    color: #fff;
}

td {
    background-color: #222;
}

/* Стили для кнопок */
button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #34b7eb;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff9800;
}

/* Стили для формы добавления студента */
#addStudentForm {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    display: none; /* Форма скрыта по умолчанию */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #34b7eb;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"] {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
    font-size: 16px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="date"]:focus {
    border-color: #ff9800;
    outline: none;
}

button[type="submit"] {
    background-color: #34b7eb;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #ff9800;
}

/* Стиль для блока с информацией о группе */
#controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#controls button {
    margin: 0;
}
